In [145]:
import pandas as pd
import csv
import datetime

In [146]:
file_path = 'Output Files/Nj registered professionals.csv'
file = pd.read_csv(file_path)
data = pd.DataFrame(file)
data.head()

/var/folders/gm/7wvsytlx5p96hndp091d87x00000gn/T/ipykernel_23711/799441659.py:2: DtypeWarning: Columns (20,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv(file_path)

,Profession,Industry,License no.,Status,Issue Date,Expiration Date,Date Last Renewal,Licensure Method,Organization,First Name,...,Suite,A,Address.1,City,State,Zip,County,B,Email,Unnamed: 24
0,Accountancy,Certified Public Accountant,20CC00291400,Active,6-May-57,31-Dec-23,3-Nov-14,Examination,N,BENNETT,...,Suite 30E,NaN,Fort Lee NJ 07024,Fort Lee,NJ,7024,Bergen,1,marytiger@prodigy.net,NaN
1,Accountancy,Certified Public Accountant,20CC00336900,Active,7-Dec-59,31-Dec-23,12-Nov-20,Examination,N,LEO,...,NaN,NaN,East Hanover NJ 07936,East Hanover,NJ,7936,Morris,1,bobalee@verizon.net,NaN
2,Accountancy,Certified Public Accountant,20CC00442500,Active,20-May-65,31-Dec-23,2-Nov-20,Examination,N,Leonard,...,Apt 314,NaN,Franklin Lakes NJ 07417,Franklin Lakes,NJ,7417,Bergen,1,lenbirkhahn@verizon.net,NaN
3,Accountancy,Certified Public Accountant,20CC00483000,Active,5-Jun-67,31-Dec-23,15-Nov-20,Examination,N,STEPHEN,...,NaN,NaN,Morristown NJ 07960,Morristown,NJ,7960,Morris,1,steve.lamont82@yahoo.com,NaN
4,Accountancy,Certified Public Accountant,20CC00492600,Active,8-Jan-68,31-Dec-23,31-Oct-20,Examination,N,HENRY,...,NaN,NaN,Madison NJ 07940,Madison,NJ,7940,Morris,1,hgeier9931@aol.com,NaN

In [147]:
accountants = data.loc[data['Profession']== 'Accountancy']
names = list(accountants['Full Name'].unique())
duplicated_accountants = accountants.loc[accountants['Full Name'].duplicated()==True]
accountants.loc[accountants['Full Name']=='THOMAS J FREEMAN']

,Profession,Industry,License no.,Status,Issue Date,Expiration Date,Date Last Renewal,Licensure Method,Organization,First Name,...,Suite,A,Address.1,City,State,Zip,County,B,Email,Unnamed: 24
475,Accountancy,Certified Public Accountant,20CC01837900,Active,20-Nov-89,31-Dec-23,1-Oct-91,Examination,N,THOMAS,...,NaN,NaN,Verona NJ 07044,Verona,NJ,7044,Essex,1,tom8151@gmail.com,NaN
4641,Accountancy,Certified Public Accountant,20CC04169400,Active,29-Mar-18,31-Dec-23,5-Nov-20,Examination,N,Thomas,...,NaN,NaN,Maywood NJ 07607,Maywood,NJ,7607,Bergen,1,thofre326@gmail.com,NaN

In [148]:
nj_data = data.loc[data['State']=='NJ']
nj_data
essex_data = nj_data.loc[data['County']=='223-239 Mcwhorter ST']
counties_list = nj_data['County'].unique()
dover = nj_data.loc[nj_data['City']=='Dover']

new_dover = dover.copy()
new_dover = new_dover

#look at bergen, hudson, sussex, essex, passaic
#Ocean, Cumerland, Camden, Glouchester, Cape May
filt = nj_data['County']
north_nj = nj_data.loc[(filt=='Bergen') | (filt=='Hudson')|(filt=='Sussex')|(filt=='Essex')| (filt=='Passaic')]
south_nj = nj_data.loc[(filt=='Ocean')| (filt=='Cumerland')|(filt=='Camden')|(filt=='Glouchester')| (filt=='Cape May')]
south_nj = south_nj.dropna(subset='Email')
south_nj

,Profession,Industry,License no.,Status,Issue Date,Expiration Date,Date Last Renewal,Licensure Method,Organization,First Name,...,Suite,A,Address.1,City,State,Zip,County,B,Email,Unnamed: 24
10,Accountancy,Certified Public Accountant,20CC00534400,Active,29-Dec-69,31-Dec-23,18-Dec-20,Examination,N,IRENE,...,NaN,NaN,Long Beach Township NJ 08008,Long Beach Township,NJ,8008,Ocean,1,wikd44@gmail.com,NaN
14,Accountancy,Certified Public Accountant,20CC00549900,Active,4-Aug-70,31-Dec-23,22-Dec-20,Examination,N,EDWARD,...,NaN,NaN,Cherry Hill NJ 08034,Cherry Hill,NJ,8034,Camden,1,esuarez@rbscpa.com,NaN
19,Accountancy,Certified Public Accountant,20CC00615500,Active,5-Dec-72,31-Dec-23,30-Oct-20,Examination,N,GEORGE,...,Suite 1,NaN,Toms River NJ 08755,Toms River,NJ,8755,Ocean,1,gdelliott@mebgcpa.com,NaN
20,Accountancy,Certified Public Accountant,20CC00632600,Active,20-Jun-73,31-Dec-23,11-Nov-20,Examination,N,LOUIS,...,NaN,NaN,Waretown NJ 08758,Waretown,NJ,8758,Ocean,1,lcastellic@aol.com,NaN
23,Accountancy,Certified Public Accountant,20CC00648700,Active,20-Jun-73,31-Dec-23,18-Nov-20,Reciprocity,N,NICHOLAS,...,Ste303,NaN,CHERRY HILL NJ 08034,CHERRY HILL,NJ,8034,Camden,1,nicktroi@aol.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237811,Veterinary Medical Examiners,Veterinarian,29VI00827200,Active,7-Jul-21,30-Jun-25,12-May-23,Practical,N,Katelyn,...,NaN,NaN,Turnersville NJ 08012,Turnersville,NJ,8012,Camden,1,kwashartmsdvm@gmail.com,NaN
237818,Veterinary Medical Examiners,Veterinarian,29VI00828400,Active,14-Jul-21,30-Jun-25,21-Jun-23,Practical,N,Mariah,...,769 NJ-37 West,NaN,Toms River NJ 08755,Toms River,NJ,8755,Ocean,1,mkjdennis@gmail.com,NaN
237861,Veterinary Medical Examiners,Veterinarian,29VI00839700,Active,20-Jan-22,30-Jun-25,30-Jun-23,Practical,N,Jessica,...,NaN,NaN,Brick NJ 08723,Brick,NJ,8723,Ocean,1,jessmartinidvm@gmail.com,NaN
237890,Veterinary Medical Examiners,Veterinarian,29VI00858500,Active,7-Jul-22,30-Jun-25,20-Jun-23,Practical,N,Kaisha,...,NaN,NaN,Berlin NJ 08009,Berlin,NJ,8009,Camden,1,kaisham.rodriguez@gmail.com,NaN
237900,Veterinary Medical Examiners,Veterinarian,29VI00866900,Active,23-Aug-22,30-Jun-25,6-Jun-23,Practical,N,Maxwell,...,NaN,NaN,Collingswood NJ 08108,Collingswood,NJ,8108,Camden,1,maxwellbergmann@gmail.com,NaN

In [149]:
south_nj_reindex = south_nj.copy()
# date = south_nj['Issue Date'][10]
# date_splitted = date.split('-')
south_nj_reindex = south_nj_reindex.reset_index()

In [150]:
formatted_day = []
formatted_month = []
formatted_year = []
dates_splitted = []
for i in range(len(south_nj_reindex)):
    raw_date = str(south_nj_reindex['Issue Date'][i])
    split_date = raw_date.split('-')
    dates_splitted.append(split_date)
#     month = dates_splitted[i][1]
#     formatted_day.append(day)
#     formatted_month.append(month)

In [151]:
issue_dates = pd.Series(dates_splitted)
south_nj_reindex['Issue Dates Split'] = issue_dates.values
south_nj_reindex['Issue Dates Split'][2][0]

'5'

In [156]:
formatted_day = []
formatted_month = []
formatted_year = []
for index, row in south_nj_reindex.iterrows():
#     print(row['c1'], row['c2'])
#     day = row['Issue Dates Split'][index][0]
    month = row['Issue Dates Split'][index][1]
#     year = row['Issue Dates Split'][index][2]
    formatted_day.append(day)
    formatted_month.append(month)
    formatted_year.append(year)

IndexError: list index out of range

In [153]:
north_nj = north_nj.dropna(subset='Email')
north_nj
issue_date = north_nj.loc[north_nj['Issue Date']=='20']

In [112]:
north_nj_file = north_nj.to_csv('Output Files/North_nj_info.csv')
south_nj_file = south_nj.to_csv('Output Files/South_nj_info.csv')
north_emails = north_nj['Email']
south_emails = south_nj['Email']
north_nj_path = 'Output Files/North Jersey Emails.txt'
south_nj_path = 'Output Files/South Jersey Emails.txt'
with open(north_nj_path, 'a') as f:
    north_emails = north_emails.to_string(header=False, index=False)
    f.write(north_emails)
    
with open(south_nj_path, 'a') as f:
    south_emails = south_emails.to_string(header=False, index=False)
    f.write(south_emails)